%p
  %b Author:
  = comment.author
%p
  %b Comment:
  = comment.body
%p
  = link_to 'Delete', [comment.post, comment], |
    :confirm => "Are you sure?",               |
    :method => :delete                         |
